* {
    margin: 0;
    padding: 0;
    font-family: 'Cormorant', serif;
    scroll-behavior: smooth;
}

/* Home Page */

.header{
    min-height: 972px;
    width: 100%;
    background-image: linear-gradient(rgba(6,4,11,0.4),rgba(6,4,1,0.3)),url(Home-page-background.png);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    height: 20px;
}
.Estepona-page-head {
    text-align: center;
    background: #000000;
    color: #fff;
    font-size: 40px;
}
.nav-links{
    flex: 1;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 16px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.rectangle {
    height: 2px;
    width: 100%;
    background-color: #fff;
}
.welcome-home-text-box {
    width: 699px;
    color: #fff;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;   
    font-size: 40px;
}

/* demo banner */

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #2980b9;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}
.ribbon-top-right {
  top: -10px;
  right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

/* Introduction Page */

.Introduction {
    min-height: 972px;
    width: 100%;
    background-image: linear-gradient(rgba(6,4,11,0.4),rgba(6,4,1,0.3)),url(Personalised-Introduction-Page-Background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.introduction-text-box {
    width: 699px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 40px;
}

/* The Area Page */

.the-area-anchor {
    font-size: 0px;
    position: relative;
    z-index: -1;
}
.The-Area {
    min-height: 972px;
    width: 100%;
    background-image: linear-gradient(rgba(6,4,11,0.4),rgba(6,4,1,0.3)),url(thumbnail_IMG_3625.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.The-Area-Page-Head {
    text-align: center;
    background: #000000;
    color: #fff;
    font-size: 40px;
}
.minor-header-spacer .rectangle{
    height: 20px;
    width: 100%;
    background-color: #000000;
}

/* The Area Slideshow */

.the-area-slider-container {
    top: 20%;
    width: 800px;
    height: 972px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
}
.the-area-image-container {
    top: 20%;
    width: 9600px;
    height: 972px;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
}
.the-area-slider-image {
    border-radius: 20px;
    float: left;
    margin: 0px;
    padding: 0px;
}
.the-area-button-container {
    top: -160px;
    position: relative;
}
.the-area-slider-button {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: white;
    transition: 1s;
}
.the-area-slider-button:hover {
    background-color: #242423;
    transition: 0.5s;
}
#the-area-slider-image-1:target ~ .the-area-image-container {
    left: 0px;
}
#the-area-slider-image-2:target ~ .the-area-image-container {
    left: -800px;
}
#the-area-slider-image-3:target ~ .the-area-image-container {
    left: -1600px;
}
#the-area-slider-image-4:target ~ .the-area-image-container {
    left: -2400px;
}
#the-area-slider-image-5:target ~ .the-area-image-container {
    left: -3200px;
}
#the-area-slider-image-6:target ~ .the-area-image-container {
    left: -4000px;
}
#the-area-slider-image-7:target ~ .the-area-image-container {
    left: -4800px;
}
#the-area-slider-image-8:target ~ .the-area-image-container {
    left: -5600px;
}
#the-area-slider-image-9:target ~ .the-area-image-container {
    left: -6400px;
}
#the-area-slider-image-10:target ~ .the-area-image-container {
    left: -7200px;
}
#the-area-slider-image-11:target ~ .the-area-image-container {
    left: -8000px;
}

/* The Property */

.the-property-anchor {
    font-size: 0px;
    position: relative;
    z-index: -1;
}
.The-Property {
    min-height: 972px;
    width: 100%;
    background-image: linear-gradient(rgba(6,4,11,0.4),rgba(6,4,1,0.3)),url(thumbnail_IMG_0130.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}  
.The-Property-Page-Head {
    text-align: center;
    background: #000000;
    color: #fff;
    font-size: 40px;
}

/* The Property Slideshow */

.the-property-slider-container {
    top: 20%;
    width: 800px;
    height: 972px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
}

.the-property-image-container {
    top: 20%;
    width: 9600px;
    height: 972px;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
}

.the-property-slider-image {
    border-radius: 20px;
    float: left;
    margin: 0px;
    padding: 0px;
}

.the-property-button-container {
    top: -160px;
    position: relative;
}

.the-property-slider-button {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: white;
    transition: 1s;
}
.the-property-slider-button:hover {
    background-color: #242423;
    transition: 0.5s;
}

#the-property-slider-image-1:target ~ .the-property-image-container {
    left: 0px;
}
#the-property-slider-image-2:target ~ .the-property-image-container {
    left: -800px;
}
#the-property-slider-image-3:target ~ .the-property-image-container {
    left: -1600px;
}
#the-property-slider-image-4:target ~ .the-property-image-container {
    left: -2400px;
}
#the-property-slider-image-5:target ~ .the-property-image-container {
    left: -3200px;
}
#the-property-slider-image-6:target ~ .the-property-image-container {
    left: -4000px;
}
#the-property-slider-image-7:target ~ .the-property-image-container {
    left: -4800px;
}
#the-property-slider-image-8:target ~ .the-property-image-container {
    left: -5600px;
}
#the-property-slider-image-9:target ~ .the-property-image-container {
    left: -6400px;
}
#the-property-slider-image-10:target ~ .the-property-image-container {
    left: -7200px;
}
#the-property-slider-image-11:target ~ .the-property-image-container {
    left: -8000px;
}
#the-property-slider-image-12:target ~ .the-property-image-container {
    left: -8800px;
}

/* Pricing */

.pricing-anchor {
    font-size: 0px;
    position: relative;
    z-index: -1;
}
.Pricing {
    min-height: 972px;
    width: 100%;
    background-image: linear-gradient(rgba(6,4,11,0.4),rgba(0,0,0,.7)),url(The-area-page-background.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.Pricing-Page-Head {
    text-align: center;
    background: #000000;
    color: #fff;
    font-size: 40px;
}
.pricing-text-box {
    width: 90%;
    color: #ffff;
    position: absolute;
    padding: 12px 42px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.pricing-text-box h1{
    font-size: 62px;
}
.translucent-rectangle .rectangle {
    height: 25px;
    opacity: 0;
}
.pricing-button {
    display: inline-block;
    text-decoration: none;
    color: #ffff;
    border: 1px solid #ffff;
    padding: 12px 34px;
    font-size: 40px;
    background: rgba(0,0,0,0);
    position: relative;
    cursor: pointer;
    transition: 1s;
}
.pricing-button:hover {
    background: #000000;
    transition: 1s;
}

/* Contact */

.contact-anchor {
    font-size: 0px;
    position: relative;
    z-index: -1;
}
.Contact {
    min-height: 972px;
    width: 100%;
    background-image: linear-gradient(rgba(6,4,11,0.4),rgba(6,4,1,0.3)),url(Personalised-Introduction-Page-Background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.Contact-Page-Head {
    text-align: center;
    background: #000000;
    color: #fff;
    font-size: 40px;
}
.contact-text-box {
    width: 90%;
    color: #ffff;
    position: absolute;
    padding: 12px 42px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.contact-text-box h1{
    font-size: 62px;
}
.translucent-rectangle .rectangle {
    height: 25px;
    opacity: 0;
}
.contact-link-icons ul li {
    display: inline-block;
    text-decoration: none;
    font-size: 40px;
    position: relative;
    cursor: pointer;
    float: left;
    left: 32%;
    list-style: none;
    margin: 0px 3% 0px 3%;
}

/* Page Footer */

.Estepona-page-footer {
    text-align: center;
    background: #000000;
    color: #fff;
    font-size: 40px;
}
